<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Productos</h1>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <el-button @click="create" type="primary">Nuevo Producto</el-button>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table
                :data="products"
                style="width: 100%">
                <el-table-column
                    label="Imagen">
                    <template slot-scope="scope">
                        <span v-if="scope.row.image">
                            <img width="120" height="80" :src="scope.row.image"/>
                        </span>
                        <span v-else>
                            <i style="margin-left: 40px" class="fas fa-image fa-3x"></i>
                        </span>
                    </template>
                </el-table-column>

                <el-table-column
                    prop="name"
                    label="Nombre">
                </el-table-column>
                <el-table-column
                    prop="description"
                    label="Descripcion">
                </el-table-column>


                <el-table-column
                    label="Marca">
                    <template slot-scope="scope">
                        {{scope.row.brand.name}}
                    </template>

                </el-table-column>


                <el-table-column
                    prop="model"
                    label="Modelo">
                </el-table-column>


                <el-table-column
                    label="Categorias">
                    <template slot-scope="scope">
                        <span v-for="cat in scope.row.categories">
                            <el-tag style="margin-right: 5px" effect="dark">{{cat.name}}</el-tag>
                        </span>
                    </template>

                </el-table-column>


                <el-table-column
                    label="Operaciones">
                    <template slot-scope="scope">
                        <el-button icon="fas fa-pencil-alt" type="warning" size="mini"
                                   @click="edit(scope.row)"></el-button>
                        <el-button icon="fas fa-trash" size="mini" type="danger"
                                   @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-dialog :title="modalTitle" v-on:close="clearForm" :visible.sync="dialogVisible">
                <el-form :model="form" ref="form" :rules="rules">
                    <el-form-item label="Nombre del Productos" prop="name">
                        <el-input placeholder="Nombre del Productos" v-model="form.name"></el-input>
                    </el-form-item>

                    <el-form-item label="Descripcion" prop="description">
                        <el-input placeholder="Descripcion" v-model="form.description"></el-input>
                    </el-form-item>

                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="Marca" prop="brand_id">
                                <el-select style="width: 100%" v-model="form.brand_id" placeholder="Marca">
                                    <el-option
                                        v-for="item in brands"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Categorias" prop="categories">
                                <el-select style="width: 100%" multiple v-model="form.brand_id" placeholder="Categorias">
                                    <el-option
                                        v-for="item in categories"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-form-item label="Modelo" prop="model">
                        <el-input placeholder="Modelo" v-model="form.model"></el-input>
                    </el-form-item>

                    <div style="text-align: center">
                        <el-upload
                            class="avatar-uploader"
                            action="/api/product/upload-image"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">

                            <img v-if="form.imageUrl" :src="form.imageUrl" class="avatar">

                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </div>


                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>
                </el-form>
            </el-dialog>

        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    import _ from 'lodash';

    export default {
        components: {
            Layout,

        },
        data() {
            return {
                baseUrl: '/products',
                products: [],
                brands: [],
                categories: [],
                mode: '',
                loading: false,
                dialogVisible: false,
                form: {
                    name: '',
                    description: '',
                    brand_id: '',
                    model: '',
                    categories: [],
                    image: [],
                    imageUrl: []
                },
                rules: {
                    name: {required: true, message: 'El nombre de la marca es requerida.'},
                    description: {required: true, message: 'La descripcion del producto es requerido.'},
                    brand_id: {required: true, message: 'La marca del producto es requerida.'},
                    model: {required: true, message: 'El modelo de la marca es requerido.'},
                    categories: {required: true, message: 'La categoria de la marca es requerido.'}
                },
            }
        },
        computed: {
            modalTitle() {
                return `${this.mode}`;
            },
        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.form.image = file.raw;
                this.form.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('Avatar picture must be JPG format!');
                }
                if (!isLt2M) {
                    this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG && isLt2M;
            },

            clearForm() {
                this.$refs.form.resetFields();
            },
            create() {
                this.mode = 'Nuevo producto';
                this.dialogVisible = true;
            },
            edit(item) {
                this.mode = 'Editar producto';
                this.form = _.cloneDeep(item);
                this.form.categories = this.form.categories.map( ( {id} ) => id);
                this.form.imageUrl = this.form.image;
                this.dialogVisible = true;
            },
            submit() {
                this.$refs.form.validate(() => {

                    let data = new FormData();
                    data.append('name', this.form.name);
                    data.append('description', this.form.description);
                    data.append('brand_id', this.form.brand_id);
                    data.append('categories', this.form.categories);
                    data.append('model', this.form.model);
                    data.append('image', this.form.image);

                    this.loading = true;
                    if (!this.form.id) {
                        this.$inertia.post(this.baseUrl, data).then(
                            () => {
                                this.products = this.$page.products;
                                this.$message({
                                    type: 'success',
                                    message: 'Creado correctamente.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    } else {
                        this.$inertia.put(this.baseUrl + '/' + this.form.id, data).then(
                            () => {
                                this.products = this.$page.products;
                                this.$message({
                                    type: 'success',
                                    message: 'Guardado correctamente.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    }
                });
            },
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar a esta Marca?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },
        },
        mounted() {
            if (this.$page.products) {
                this.products = this.$page.products;
            }
            if (this.$page.brands) {
                this.brands = this.$page.brands;
            }
            if (this.$page.categories) {
                this.categories = this.$page.categories;
            }
        }
    }
</script>
