<template>
    <div>
        {{product}}


        <el-card :body-style="{ padding: '0px'}">
            <el-image v-if="product.image" :src="product.image" fit="scale-down"></el-image>

            <div v-else style="text-align: center">
                <i style="margin-top: 20px" class="fas fa-image fa-5x"></i>

                <el-divider></el-divider>
            </div>

            <div>
                <el-row :gutter="5">
                    <el-col :span="16">
                        <span><strong>{{product.name}}</strong></span>
                    </el-col>
                    <el-col style="text-align: right" :span="8">
                        <el-tag effect="dark">{{product.brand.name}}</el-tag>
                    </el-col>
                </el-row>

                <p>{{product.description}}</p>


                <el-divider></el-divider>

                <el-row style="text-align: right">

                    <inertia-link :href="'/products' + product.id">
                        <span style="font-size: 20px; color: #f79f54; padding-right: 5px">
                            <i class="fas fa-eye"></i>
                        </span>
                    </inertia-link>

                    <span style="font-size: 20px; color: #00b9a2;" @click="addToCard(product.id)">
                        <i class="fas fa-cart-plus"></i>
                    </span>

                </el-row>
            </div>
        </el-card>
    </div>
</template>

<script>
    export default {
        name: 'product',
        props: {
            product: Object
        },

        methods: {
            addToCard(id) {
                this.$confirm('Agregar producto al carrito?', {
                    confirmButtonText: 'Si',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'info'
                }).then(() => {
                    this.$inertia.post('/cart' + id, {
                        product_id: id
                    })
                })
            }
        }
    }

</script>
