<template>
    <layout>
        <div>
            <h1>Dash</h1>

            <div class="grid-container">
                <div class="grid-container" v-for="(p, index) in products" :key="index">
                    <product-component :product="p"></product-component>
                </div>
            </div>


        </div>
    </layout>

</template>
<script>

    import Layout from "../../Shared/Layout";
    import ProductComponent from "../../components/ProductComponent";

    export default {
        components: {
            Product,
            Layout,
            ProductComponent
        },
        data() {
            return {
                products: []
            }
        },
        mounted() {
            if (this.products) {
                this.products = this.$page.products;
            }
        }
    }
</script>
