<template>
    <layout>
        <div>
            <h2>Carrito</h2>
        </div>
    </layout>
</template>

<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data() {
            return{}
        },
        methods: {

        }
    }
</script>
